header {
    background-color: #BBBBBB;
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
.header__search {
    position: relative;
}
.search-icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none; /* Іконка не буде активною для кліків */
}
    .header__input {
        outline: none;
        border: 1px solid white;
        padding: 10px;
        border-radius: 30px;
        width: 480px;
        padding-left: 40px;

    
    }
    input {
        &::placeholder{
            // color: white;
        }
    }
}



@media screen and (max-width: 768px) {
    header {
        background-color: #BBBBBB;
        .header__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
    &__search {
        position: relative;
    }
    .search-icon{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        pointer-events: none; /* Іконка не буде активною для кліків */
    }
        .header__input {
            // outline: none;
            // border: 1px solid white;
            // padding: 10px;
            // border-radius: 10px;
            width: 300px;
        }
    }
    
  }

@media screen and (max-width: 448px) {
    header {
        background-color: #BBBBBB;
        .header__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        }
    &__search {
        position: relative;
    }
    .search-icon{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        pointer-events: none; /* Іконка не буде активною для кліків */
    }
        .header__input {
            // outline: none;
            // border: 1px solid white;
            // padding: 10px;
            // border-radius: 10px;
           width: 100%;
        }
    }
    
  }