@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@import './styles/index.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Додайте цей код у ваш CSS файл */
* {
    /* Firefox */
    scrollbar-width: none; /* Повністю приховує смугу прокрутки */
    /* Internet Explorer 10+ */
    -ms-overflow-style: none; /* Приховує смугу прокрутки */
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

body {
    font-family: 'Inter Tight', sans-serif;

  }



